div
{
    border: 0 solid black;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.dice {
    border: 0.0234375em solid black;
    width: 4.6875em;
    height: 4.6875em;
    margin: 0.234375em;
    border-radius: 0.234375em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dice-red {
    background-color: #e63946;
}

.dice-yellow {
    background-color: #ffd60a;
}

.dice-green {
    background-color: #2a9d8f;
}

.dice-blue {
    background-color: #3a86ff
}

.dice-purple {
    background-color: #9d4edd;
}

.side {
    width: 100%;
    height: 100%;
    background: #aaaaaa;
    border: 0.046875em solid black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3515625em;
}

.side {
    &:before {
        content: '';
        width: 20%;
        height: 20%;
        background: black;
        border-radius: 50%;
    }
}

.two {
    &:before {
        background: transparent;
        box-shadow: #000000 -1.171875em -1.171875em 0 0, #000000 1.171875em 1.171875em 0 0;
    }
}

.three {
    &:before {
        box-shadow: #000000 -1.171875em 1.171875em 0 0, #000000 1.171875em -1.171875em 0 0;
    }
}

.four {
    &:before {
        background: transparent;
        box-shadow: #000000 -1.171875em 1.171875em 0 0, #000000 -1.171875em -1.171875em 0 0,
        #000000 1.171875em 1.171875em 0 0, #000000 1.171875em -1.171875em 0 0;
    }
}

.five {
    &:before {
        box-shadow: #000000 -1.171875em -1.171875em 0 0, #000000 -1.171875em 1.171875em 0 0,
        #000000 1.171875em -1.171875em 0 0, #000000 1.171875em 1.171875em 0 0;
    }
}

.six {
    &:before {
        background: transparent;
        box-shadow: #000000 -1.171875em -1.171875em 0 0, #000 -1.171875em 0 0 0,
        #000000 -1.171875em 1.171875em 0 0, #000 1.171875em -1.171875em 0 0, #000 1.171875em 0 0 0, #000000
        1.171875em 1.171875em 0 0;
    }
}