div
{
    border: 1px solid black;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.dice {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}