.card {
    background-color: black;
    justify-content: center;
    border: 0.2em solid black;
    border-radius: 0.5em;
}

.card .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card .dice {
}

.card .title {
    color: white;
    margin-left: 25%;
    text-transform: capitalize;
}

.card .difficulty {
    color: white;
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.card .difficulty-dot {
    border-radius: 50%;
    background-color: white;
    width: 0.8em;
    height: 0.8em;
    margin: 0.1em;
}
