.dice {
    border: 0.1em solid black;
    width: 4.7em;
    height: 4.7em;
    margin: 0.3em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: grab;
    transition: opacity 0.2s;
}

.dice[draggable="true"]:active {
    cursor: grabbing;
}

.dice-white {
    background-color: #ffffff;
}

.dice-red {
    background-color: #e63946;
}

.dice-yellow {
    background-color: #ffd60a;
}

.dice-green {
    background-color: #2a9d8f;
}

.dice-blue {
    background-color: #3a86ff
}

.dice-purple {
    background-color: #9d4edd;
}
